*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(52, 50, 50);
    width: 100%;
}
.main{

    width: 35%;
    background-color: antiquewhite;
   margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute; 
}

.body1{
    background-color: darkslategray;
    height: 150px;
    width: 60%;
    margin: auto;
    right: 0;
    left: 0;
    position: absolute; 
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.subBody1{
    border: 2px solid rgb(11, 11, 11);
    background-color: rgba(0, 0, 0, 0.736);
    height: 109px;
    width: 90%;
    margin: auto;
    right: 0;
    left: 0;
    position: absolute; 
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom: none;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.screen{
    border: 2px solid rgb(11, 11, 11);
    width: 100%;
    border-radius: 0px 0px 9em 50%/1em;
    height: 50px;
    border-right: none;
    border-left: none;
    background-color: rgb(190, 190, 190);
    position: relative;
    bottom: 4px;
}

#screenResult{
    float: right;
    margin-top: 8px;
    font-size: 15px;
}

#inputscreen{
    width: 100%;
   text-align: right;
   border: none;
   background-color: rgb(190, 190, 190);
   color: black;
  
}

.time{
    border: 2px solid rgb(65, 63, 63);
    background-color: darkgray;
    height: 15px;
    width: 25%;
    position: relative;
    float: right;
    bottom: 8px;
    right: 5px;
    border-radius: 4px;
}

#tim{
text-align: center;
font-size: 10px;
}

.solar{
    border: 0.1px solid rgba(244, 244, 244, 0.678);
    height: 20px;
    width: 35%;
    position: relative;
    float: right;
    top: 5px;
    right: 5px;
    border-radius: 3px;
    background-color: rgba(33, 32, 32, 0.736);
}

.solarline{
    border: 0.1px solid rgba(244, 244, 244, 0.203);
    height: 100%;
    width: 50%;
    margin: auto;
    right: 0;
    left: 0;
    position: absolute; 
    border-top: none;
    border-bottom: none;
}

.main2{
 
    height:200px;
    position: relative;
    width: 57%;
    top: 119px;
    margin: auto;
    right: 0;
    left: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: darkslategray;
}

.button1{
  
    height: 30px;
    position: relative;
    width: 100%;
    top: 5px;
    margin: auto;
    right: 0;
    left: 0;
}

.button1 button {
    border-radius: 4px;
    background-color: rgba(62, 68, 68, 0.871);
    border: 1px solid rgba(255, 255, 255, 0.158);
    font-size: 6px;
    height: 13px;
    width: 18px;
    color: azure;
}

.button1 button:hover{
    background-color:  rgba(54, 56, 56, 0.871);
}

.button1 div {
    display: inline;
    padding: 1.5px;
}

.button2{
    top: 8px;
    width: 100%;
    text-align: center;
    position: relative;
} 

.button2 button{
   margin-bottom: 5px;
   background-color: rgba(0, 0, 0, 0.685);
   border: 1px solid rgba(255, 255, 255, 0.158);
   border-radius: 4px;
   color: azure;
}

.button2 button:hover{
    border: 1.5px solid rgba(255, 255, 255, 0.158);
}

.numbers{
    top: 10px;
    position: relative;
    width: 67%;
    text-align: center;
}

.numbers button{
 margin: 1px;
 background-color:rgba(62, 68, 68, 0.871);
 border: 1px solid rgba(255, 255, 255, 0.158);
 border-radius: 3px;
 height: 14px;
 color: azure;
}

.numbers button:hover{
    background-color:  rgba(54, 56, 56, 0.871);
}

.operators{
width: 32.8%;
position: relative;
float: right;
bottom: 69px;
height: 68.6px;
}

.operators button{
    margin-bottom: 2px;
    background-color: rgba(62, 68, 68, 0.871);
    border: 1px solid rgba(255, 255, 255, 0.158);
    border-radius: 3px;
    height: 13px;
    color: azure;
}

.operators button:hover {
    background-color: rgba(54, 56, 56, 0.871);
}

.operators .redButton{
    background-color: rgba(127, 23, 23, 0.812);
    width: 20px; 
    font-size: 7px;
    color: azure; 
}

.operators .redButton:hover{
    color: rgb(194, 200, 200); 
    background-color: rgba(127, 23, 23, 0.812);
}

.lo, button:active{
    transform: translateY(0.3px);
}

.lo{
    font-size: 7px;
    background-color: rgb(106, 44, 44);
    border-radius: 10px;
    border: 0.1px black solid;
}

.lo:hover{
    color: rgb(164, 163, 163);
}
























































































